{
  "catalogRepo": "kyodaikokata/KKT-Catalog",
  "defaultBranch": "main",
  "catalogRoot": "E:/work/DalamudProject/Release/KKT-Catalog",
  "plugins": [
    {
      "internalName": "HeelsDesignLinker",
      "assemblyName": "HeelsDesignLinker",
      "pluginFolder": "HeelsDesignLinker",
      "sourceRepo": "kyodaikokata/HeelsDesignLinker",
      "sourceRepoUrl": "https://github.com/kyodaikokata/HeelsDesignLinker",
      "workInProgressPath": "E:/work/DalamudProject/WorkInProgress/HeelsToggle",
      "projectSubPath": "HeelsToggle",
      "projectFileBase": "HeelsToggle",
      "publishGlobal": true,
      "enabled": true
    },
    {
      "internalName": "SoundMixer",
      "assemblyName": "SoundMixer",
      "pluginFolder": "SoundMixer",
      "sourceRepo": "kyodaikokata/SoundMixer",
      "sourceRepoUrl": "https://github.com/kyodaikokata/SoundMixer",
      "workInProgressPath": "E:/work/DalamudProject/WorkInProgress/SoundMixer",
      "projectSubPath": "SoundMixer",
      "publishGlobal": true,
      "enabled": true
    }
  ]
}
