{
  "catalogRepo": "kyodaikokata/KKT-Catalog",
  "defaultBranch": "main",
  "plugins": [
    {
      "internalName": "HeelsDesignLinker",
      "assemblyName": "HeelsDesignLinker",
      "pluginFolder": "HeelsDesignLinker",
      "sourceRepo": "kyodaikokata/HeelsDesignLinker",
      "sourceRepoUrl": "https://github.com/kyodaikokata/HeelsDesignLinker",
      "projectSubPath": "HeelsToggle",
      "publishGlobal": true,
      "enabled": true
    },
    {
      "internalName": "SoundMixer",
      "assemblyName": "SoundMixer",
      "pluginFolder": "SoundMixer",
      "sourceRepo": "kyodaikokata/SoundMixer",
      "sourceRepoUrl": "https://github.com/kyodaikokata/SoundMixer",
      "projectSubPath": "SoundMixer",
      "publishGlobal": true,
      "enabled": true
    }
  ]
}
